<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Alyn.Pointer.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Alyn.Pointer.App.Properties.Settings>
      <setting name="SoundAlerts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="gazeDelay" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TobiiMock" serializeAs="String">
        <value>True</value>
      </setting>
    </Alyn.Pointer.App.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="AnacondaDirectory" value="C:\Users\t-gubenb\AppData\Local"/>
    <add key="SolutionDirectory" value="C:\Users\t-gubenb\source\repos\"/>
    <add key="Language" value="HE" />
  </appSettings>
</configuration>